

<%= render 'shared/errors', resource: @article %>

<%= form_with(model: @article, local: true) do |form| %>
	<div class="card-body">
		<div class="card-title">
			<h5><%= form.label :title %></h5>
			<%= form.text_field :title, placeholder: 'Enter title' %>
		</div>
			

		<div class="card-text">
			<%= form.label :description %><br>
			<%= form.text_area :description, placeholder: 'Enter description', cols: 40, rows: 10 %>
		</div>

		<div>
			<%= form.submit class:"btn btn-sm btn-success" %><br> 
		</div>
	</div>
<% end %>
