
<div class="container mt-3 mb-3" id="user-container" >
	<div class="row justify-content-center">
		<div class="card">
		  <div class="card-header">
		    <strong><h4>Article created by: 
		    	<%= link_to @article.user.username, @article.user %>
		    </h4></strong>
		    <% if @article.user.avatar.attached? %>
				<%= image_tag @article.user.avatar, size:"150x150", class:"rounded-circle img-fluid mb3" %>
			<% end %>
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">Title: <%= @article.title %> </h5>
		    <div class="card-text text-left"><%= simple_format(@article.description) %></div>
		  	
		    	<%= link_to 'Back', articles_path, class:"btn btn-sm btn-outline-primary" %>
		    	<% if logged_in? && (@article.user == current_user) || current_user.admin? %>
			    	 |
					<%= link_to 'Delete', article_path(@article), method: :delete, class:"btn btn-sm btn-outline-danger", data: { confirm: "Are you sure?" }  %> 
				<% end %>
		  </div>
		  <div class="card-footer text-muted">
		    Created: <%= time_ago_in_words(@article.created_at) %> | 
		    Modified: <%= time_ago_in_words(@article.updated_at) %>
		  </div>
		</div>
	</div>
</div>

