
<div class="container mt-3 mb-3" id="user-container" >
	<div class="row justify-content-center">
		<div class="card">
			<div class="card-header">
				<strong><h5>Article by: 
					<%= link_to @article.user.username, @article.user %>
				</h5></strong>
				<% if @article.user.avatar.attached? %>
					<%= image_tag @article.user.avatar, size:"40x40", class:"rounded img-fluid mb3" %>
				<% end %>
			</div>
			<div class="card-body">
				<h5 class="card-title">Title: <%= @article.title %> </h5>
				<div class="card-text text-left"><%= simple_format(@article.description) %></div>
				
				<a class="card-text text-left">
					<% if @article.categories.any? %>					
						Categories: <%= render @article.categories %>
					<% end %>
				</a> 

				<div class="mt-2">
					<%= link_to 'Back', articles_path, class:"btn btn-sm btn-outline-primary" %>
					<% if logged_in? && ((@article.user == current_user) || current_user.admin?) %>
						|
						<%= link_to 'Delete', article_path(@article), method: :delete, class:"btn btn-sm btn-outline-danger", data: { confirm: "Are you sure?" }  %> 
					<% end %>
				</div>
			</div>
			<div class="card-footer text-muted">
				Created: <%= time_ago_in_words(@article.created_at) %> | 
				Modified: <%= time_ago_in_words(@article.updated_at) %>
			</div>
		</div>
	</div>
</div>

