<%= render 'shared/errors', resource: @user %>

<%= form_with(model: @user, local: true) do |form| %>
	<div class="container mt-3 mb-3" id="user-container" >
		<div class="row justify-content-center">
			<div class="card">
				<div class="mb-3">
					<div class="form-label mt-3">
						<%= form.label :Picture %>
						<%= form.file_field :avatar, placeholder: 'Upload a picture' , class:"form-control"%>
					</div>
					<div class="form-label mt-3">
						<%= form.label :email %>
						<%= form.email_field :email, placeholder: 'Choose an email', class:"form-control" %>
					</div>
					<div class="form-label mt-3">
						<%= form.label :username %>
						<%= form.text_field :username, placeholder: 'Choose username', class:"form-control" %>
					</div>
					<div class="form-label mt-3">
						<%= form.label :password %>
						<%= form.password_field :password, placeholder: 'Choose a password', class:"form-control" %>
					</div>
					<div class="mt-3">
						<%= form.submit(@user.new_record? ? "Sign Up" : "Update account", class:"btn btn-sm btn-success") %> 
						<% if logged_in? %>   
							<%= link_to 'Cancel', user_path(current_user), class:"btn btn-primary btn-sm" %>
						<% end %>
					</div>
				</div>		
			</div>
		</div>
	</div>
<% end %>

