
<div class="container" id="home-container">
	<div class="jumbotron text-center custom-bg-img">
		<h1 class="display-4">Welcome to Alpha Blog!</h1>
		<p class="lead custom-txt-orange">This is my Alpha blog. Enjoy the experince. Dont forget to leave a feedback</p>
		<hr class="my-4">
		<p class="custom-txt-bl">
			<%= link_to "Sign Up", signup_path, class:"btn btn-success btn-lg" %> 
			or
			<%= link_to "Log In", login_path, class:"btn btn-primary btn-lg" %> <br>
			to get started.
		</p>
		<a role="button"><%= link_to 'About Us', about_path, class:"btn btn-primary btn-lg" %></a>
		<a role="button"><%= link_to 'Articles', articles_path, class:"btn btn-primary btn-lg" %></a>
		<a role="button"><%= link_to 'Categories', categories_path, class:"btn btn-primary btn-lg" %></a>
	</div>
</div>
